body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative !important;
  max-width: 100% !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style anchor as button */
a, button {
  text-decoration: none !important;
  color: #fff !important;
  background-color: rgb(93, 26, 26) !important;
  border-radius: 4px !important;
  padding: 4px 8px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  z-index: 21 !important;
}

/* span, div{
  white-space: nowrap;
  text-align: center;
} */
div{
  font-family: 'Roboto Mono', monospace;
  /* position: relative !important; */
}
h1{
  font-family: 'Oswald', sans-serif;
  margin-top: 0px;
  margin-bottom: 16px;
}
h4{
  text-decoration: underline;
}
.logo{
  margin-top:10px;
}
.input-text{
  max-width:35%;
  margin-left:auto;
  margin-right:auto;
}
.loader{
  margin-top:15%;
  width: 10%;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  height: 30vh;
  color: #fff;
  background-color: rgb(93, 26, 26);
}
.footer-list{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
  align-items: center;
  width: 99%;
  height: 8vh;
}
.container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo{
  max-width: 200px;
  max-height: 50px;
  margin-top: 0%;
}
.center{
  text-align: center;
}
.home-container{
 
}
/* .bg-image{
  background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
} */
.home-main{
  z-index: 20;
  position: absolute;
  top:30%;
  text-align: center;
  left: 30%;
  color: aliceblue;
}